{% extends 'base.html' %}
{% load static %}
{% block changepassword %}
<style>
  .btn--fontRegular {
      font-weight: 400;
  }

  .btn--lg {
      font-size: 18px;
      padding: 14px 16px;
  }

  .btn--block {
      display: block;
      width: 100%;
  }

  .btn--primary {
      color: #fff;
      background-color: #F5A623;
  }

  .btn {
      color: inherit;
      display: inline-block;
      font-weight: 600;
      line-height: 1.71;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: none;
      border-radius: 4px;
      padding: 8px 16px;
      font-size: 14px;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      font-family: inherit;
      outline: none;
      box-shadow: 1px 1px 3px 0 rgba(50, 50, 54, 0.13), 0 0 3px 1px rgba(63, 63, 68, 0.05);
  }
</style>

<body>
	
	
	<!-- main body -->
	<!-- <div class="container-fluid"> -->
		<!-- <div style="min-height: 25px;"></div> -->
		<!-- <div class="row border"> -->
			<div class="login-section">
                <!-- <div class="login-form-flutterwave-logo">
                    <h4>SIS</h4>
                </div>  -->
                <div class="login-section__logincontainer">
                    <form class="login-section__form" method="POST" action="">
                      {% csrf_token %}
                        <div class="login-section__steps">
                            <div class="login-section__steps">
                                <div class="login-section__text text--big textCenter">Change Password</div> 
                                <div class="login-section__form__row">
                                    <label>New Password :</label> <br />
                                    <input id="fpassword" type="password" id="emailaddress" name="newPassword" placeholder="New Password" required="required" class="form__input form__input__login">
                                </div> 
                                <div class="login-section__form__row">
                                    <label>Confirm Password</label> <br />
                                    <input id="password" name="cpassword" placeholder="Confirm Password" required="required" type="password" class="form__input form__input__login"> 
                                    <div class="login-section__form__row--password">
                                        <svg onclick="myFunction()" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                                            <path d="M0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0z" fill="none"></path> 
                                            <path d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7zM2 4.27l2.28 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2zm4.31-.78l3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01z"></path>
                                        </svg>
                                    </div>
                                </div> 
                                <div class="login-section__form__row">
                                    <p id="passerror" style="color: red;display: none;">Password mismatch</p>
                                </div> 
                                <!----> 
                                <div class="login-section__form__row--submit">
                                    <button id="btnpassword" type="submit" class="btn btn--primary btn--lg btn--block btn--fontRegular">Change password</button> 
                                </div>
                            </div>
                        </div> 
                        <!---->
                    </form>
                </div>
            </div>        
		<!-- </div> -->
	<!-- </div> -->
	
<script>
  document.getElementById('password').onkeyup = function(){
    console.log(this.value)
    console.log(document.getElementById('fpassword').value)
    if (this.value != document.getElementById('fpassword').value){
      document.getElementById('passerror').style.display = 'block';
      document.getElementById('btnpassword').disabled = true
    } else if(this.value == document.getElementById('fpassword').value){
      document.getElementById('passerror').style.display = 'none';
      document.getElementById('btnpassword').disabled = false
    }
  }
</script>
{% endblock %}
